/* Large desktops and laptops */
@media (min-width: 1200px) {

    .map-div {
      /*float: left;*/
      /*width:650px;*/
      height:100vh;
    }
    .side-nav{
/*      float: right;
      width: 230px;
      height: 100%;*/
      background-color: blue;

    }
     #pano {
        width: 200px;
        height: 200px;
      }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    * {
      /*color: white;*/
      font-size: 1.10em;
      font-family: 'Raleway', sans-serif;
    }
    .row.equal {
    display: flex;
    flex-wrap: wrap;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 1em; 
      color: white;

    }
    label {
      color:white;
    }
    .location_li {
      color: white;
      list-style-type: none;
      margin-left: -1.5em;
      margin-bottom: .5em;
    }
    .map-div {
      height:100vh;
      /*overflow: auto; */
      /*background-color: blue;*/
    }
    .side-nav{
      height: 100vh;
      background-color: #4A75EE;
      overflow: auto;

    }
    input#nameOfLocation {
      width: 100%;
      margin-bottom: 2em;

    }
     #pano {
        width: 200px;
        height: 200px;
      }
    .place_details {
      color: black;
      width: 100%;
      font-size: .75em;
      margin-left: -2em;

      }
    .address {
      margin-bottom: 1em;
    }
    .phone_number {
      margin-bottom: .25em;
    }
    .hours {
      margin-bottom: .1em;
    }
    .location_photo {
      width:100%;
      margin-bottom: 1em;
    }
    .foursquare {
      font-size: .95em;
      margin-bottom: 1em;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}